.info{
  text-align: center;
  color: aliceblue;
  background-color: dodgerblue;
}
.pay{
  text-align: center;
  padding: 0px;
  text-decoration-color: black;
}
h2{
  text-align: center;
}
.rupee{
  text-align: center;
  color: red;
  size: 100%;
}
.upi{
  text-align: center;
  border: 100px;
}
.form-control{
 padding: 20px 10px;
 margin-right: 100%;
}
 .footer{
   color: red;
   text-align: center;
 }

 .link-button{ 
  text-decoration: none;
  background-image: linear-gradient(180deg,rgb(101, 173, 233),rgb(38, 0, 255));
  padding: 20px 20px;
  border-radius: 5px;
  color: white;
  border: 0ch;
 }
 .link-boss{
  text-decoration: none;
  background-image: linear-gradient(180deg,rgb(20, 207, 220),rgb(13, 108, 146));
  padding: 20px 20px;
  border-radius: 5px;
  color: white;
 }